@import "tailwindcss" source(none);
@import "./theme.css";
@import "@wooorm/starry-night/style/dimmed-dark";

@source "../layout/layout.astro";
@source "../sections/Navbar.astro";
@source "../sections/Hero.astro";
@source "../components/Snippet.astro";

.starry-night .pl-k {
    /* Keywords: package, import, func */
    color: #ff7b72 !important; /* Um tom de vermelho/coral claro */
}

.starry-night .pl-s {
    /* Strings: "fmt", "André Ximenes" */
    color: #a5d6ff !important; /* Azul claro com alto contraste */
}

.starry-night .pl-v,
.starry-night .pl-smi {
    /* Variáveis e Types: Developer, Name */
    color: #ffa657 !important; /* Laranja claro */
}

.starry-night .pl-en {
    /* Funções: main, IsReady */
    color: #d2a8ff !important; /* Roxo claro */
}

