@import "tailwindcss";
@import "./theme.css";

html {
	scroll-padding-top: 20px;
	scroll-behavior: smooth;
	scrollbar-width: auto;
	scrollbar-color: #a0a0a5 transparent;
}

*:focus-visible {
	@apply outline-2 outline-offset-2 outline-primary;
}

.reveal {
	@apply transform transition-all duration-800 ease-[cubic-bezier(0.5,0,0,1)];
}

.reveal-hidden {
	@apply opacity-0 translate-y-[30px];
}
