@import "tailwindcss";
@import "./theme.css";
@import "@wooorm/starry-night/style/dimmed-dark";

html {
	scroll-padding-top: 20px;
	scroll-behavior: smooth;
}

.reveal {
	@apply transform transition-all duration-800 ease-[cubic-bezier(0.5,0,0,1)];
}

.reveal-hidden {
	@apply opacity-0 translate-y-[30px];
}

.backface-hidden {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
