@import "tailwindcss";
@import "./theme.css";
@import "@wooorm/starry-night/style/dimmed-dark";

html {
	scroll-padding-top: 20px;
	scroll-behavior: smooth;
}

.reveal {
	@apply transform transition-all duration-800 ease-[cubic-bezier(0.5,0,0,1)]
}

.reveal-hidden {
    @apply opacity-0 translate-y-[30px]
}

.starry-night .pl-k {
	/* Keywords: package, import, func */
	color: #ff7b72 !important; /* Um tom de vermelho/coral claro */
}

.starry-night .pl-s {
	/* Strings: "fmt", "André Ximenes" */
	color: #a5d6ff !important; /* Azul claro com alto contraste */
}

.starry-night .pl-v,
.starry-night .pl-smi {
	/* Variáveis e Types: Developer, Name */
	color: #ffa657 !important; /* Laranja claro */
}

.starry-night .pl-en {
	/* Funções: main, IsReady */
	color: #d2a8ff !important; /* Roxo claro */
}

.backface-hidden {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

