---
import MainLayout from "../layout/layout.astro";
import Navbar from "../sections/Navbar";
import HeroSection from "../sections/Hero.astro";
import AboutSection from "../sections/About.astro";
import TechStackSection from "../sections/TechStack.astro";
import FooterSection from "../sections/Footer.astro";
import BooksSection from "../sections/Books";
import ProjectsSection from "../sections/Projects";
import ContactSection from "../sections/Contact";
import { Projects } from "../content/projects";
import { Books } from "../content/books";
import { optimizeImages } from "../lib/optimizeImages";

const optimizedProjects = await optimizeImages(Projects, "projetos");

const optimizedBooks = await optimizeImages(Books, "livros");
---

<MainLayout
  title="André Ximenes | Desenvolvedor Web"
  description="Portfólio de André Ximenes, Desenvolvedor Web Fullstack especializado em TypeScript, React, Next.js, Go e APIs Rest. Confira meus projetos e me conheça."
>
  <div
    class="bg-background text-textMain font-sans antialiased selection:bg-primary selection:text-white overflow-x-hidden"
  >
    <Navbar client:idle />
    <main>
      <HeroSection />
      <AboutSection />
      <TechStackSection />
      <ProjectsSection client:visible projects={optimizedProjects} />
      <BooksSection client:visible books={optimizedBooks} />
      <ContactSection client:visible />
    </main>
    <FooterSection />
  </div>
</MainLayout>
