---
import MainLayout from "../layout/layout.astro";
import { Navbar } from "../sections/Navbar";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import TechStack from "../sections/TechStack.astro";
import Footer from "../sections/Footer.astro";
import { Books } from "../sections/Books";
import { Projects } from "../sections/Projects";
import { Contact } from "../sections/Contact";
import { projects } from "../content/projects";
import { books } from "../content/books";

const projectImages = import.meta.glob<{ default: ImageMetadata }>("../assets/projetos/*.{jpeg,jpg,png,gif}");
const bookImages = import.meta.glob<{ default: ImageMetadata }>("../assets/livros/*.{jpeg,jpg,png,gif}");

const optimizedProjects = await Promise.all(
  projects.map(async (project) => {
    const imagePath = `../assets/projetos/${project.imageUrl}`;
    const imageModule = await projectImages[imagePath]();
    return { ...project, image: imageModule.default };
  })
);

const optimizedBooks = await Promise.all(
  books.map(async (book) => {
    const imagePath = `../assets/livros/${book.imageurl}`;
    const imageModule = await bookImages[imagePath]();
    return { ...book, image: imageModule.default };
  })
);
---

<MainLayout title="André Portifolio" description="Portifolio de André Ximenes que mostra projetos e habilidades">
  <div
    class="bg-background text-textMain font-sans antialiased selection:bg-primary selection:text-white overflow-x-hidden"
  >
    <Navbar client:idle />
    <main>
      <Hero />
      <About />
      <TechStack />
      <Projects client:visible projects={optimizedProjects} />
      <Books client:visible books={optimizedBooks} />
      <Contact client:visible />
    </main>
    <Footer />
  </div>
</MainLayout>
