@import 'tailwindcss';
@plugin "daisyui";

.btn-primary {
	@apply bg-green-600 text-white hover:bg-green-700 transition-colors;
}

.btn-outline {
	@apply border border-green-600 text-green-600 hover:bg-green-600 hover:text-white transition-colors;
}

.heading {
	@apply text-green-600 font-bold;
}

.card-custom {
	@apply bg-white border border-green-200 rounded-lg overflow-hidden shadow-sm hover:shadow-md transition-shadow;
}

.tag {
	@apply inline-flex items-center gap-2 rounded-md bg-green-600 px-3 py-1.5 text-sm 
	font-medium text-green-50 ring-1 ring-inset ring-green-200;
}
.tag:hover {
	@apply bg-green-50 text-green-600 select-none;
}

@keyframes floatMovement {
	0% {
		transform: translate(0, 0);
	}
	20% {
		transform: translate(-15%, 12%);
	}
	40% {
		transform: translate(12%, -15%);
	}
	60% {
		transform: translate(-8%, -10%);
	}
	80% {
		transform: translate(10%, 8%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes fadeIn {
	to {
		opacity: 0.5;
	}
}
