@import 'tailwindcss';

.fade-in-section {
	opacity: 0;
	transform: translateY(20px);
	transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.fade-in-section.is-visible {
	opacity: 1;
	transform: none;
}

.header-bg {
	@apply bg-slate-900/10 backdrop-blur-md backdrop-saturate-150 border-b border-slate-900/20;
}
