---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white border-t border-slate-200 py-12 mt-12">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <p class="text-slate-500 text-sm">&copy; {currentYear} André Ricardo Ximenes.</p>
  </div>
</footer>
