@import "tailwindcss";

@theme inline {
    /* Fonts */
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    /* Colors */
    --color-primary: #2563eb;
    --color-primary-dark: #1d4ed8;
    --color-secondary: #7c3aed;
    --color-background: #f8fafc;
    --color-surface: #ffffff;
    --color-surface-highlight: #f1f5f9;
    --color-text-main: #0f172a;
    --color-text-muted: #64748b;
    --color-border: #e2e8f0;

    /* Animations */
    --animate-click: mouse-click 2s ease-in-out infinite;

    /* Keyframes */
    @keyframes mouse-click {
        0%, 100% {
          transform: scale(1);
        }
        50% {
          transform: scale(0.9); 
          opacity: 0.7;         
        }
    }

}

@utility card {
    @apply p-8 rounded-2xl border border-slate-300 shadow-xl transition-all hover:shadow-2xl hover:border-primary
}
